name: CLI Release
on:
  workflow_dispatch:
  push:
    tags:
      - '*'
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Install pnpm'
        uses: pnpm/action-setup@v4
      - name: 'Setup Node.js'
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'pnpm'
      - name: 'Install dependencies'
        run: pnpm install --frozen-lockfile
      - name: 'Install LDID'
        run: |
          wget -O /usr/local/bin/ldid https://github.com/ProcursusTeam/ldid/releases/download/v2.1.5-procursus7/ldid_linux_x86_64
          chmod +x /usr/local/bin/ldid
      - name: 'Configure binfmt'
        run: |
          sudo apt-get update
          sudo apt-get install -y binfmt-support qemu-user-static
      - name: 'Build'
        run: pnpm run build && pnpm --filter wokwi-cli run package
      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'packages/wokwi-cli/dist/bin/wokwi-cli-*,packages/wokwi-cli/dist/bin/version.json'
          token: ${{ secrets.GITHUB_TOKEN }}
          generateReleaseNotes: true
