name: Tests

on:
  push:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build packages
        run: pnpm run build
      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps
      - name: Format check
        run: pnpm run format:check
      - name: Lint check
        run: pnpm run lint
      - name: Test creating CLI packages
        run: pnpm --filter wokwi-cli run package
      - name: Test Packing the packages
        run: pnpm -r pack
      - name: Run vitest tests
        run: pnpm run test:vitest
      - name: Run Playwright embed tests
        run: pnpm run test:embed:playwright
      - name: Run CLI integration tests
        run: pnpm run test:cli:integration
        env:
          WOKWI_CLI_TOKEN: ${{ secrets.WOKWI_CLI_TOKEN }}
